<div class="btn-group">
    <button class="btn btn-primary btn-xs" ng-disabled="grid.appScope.player.currentGame.id != row.entity.id || row.entity.joinedPlayers.length != row.entity.maxPlayers" ng-click="grid.appScope.startGame('/game/mpong')"> Start Game </button>
    <button class="btn btn-primary btn-xs" ng-disabled="grid.appScope.player.currentGame || row.entity.maxPlayers <= row.entity.joinedPlayers.length" ng-click="grid.appScope.joinGame(row.entity)"> Join </button>
    <button class="btn btn-primary btn-xs" ng-disabled="!grid.appScope.player.currentGame || row.entity.id != grid.appScope.player.currentGame.id" ng-click="grid.appScope.leaveGame()"> Leave </button>
    <button class="btn btn-warning btn-xs" ng-disabled="row.entity.createdBy != grid.appScope.player.name" ng-click="grid.appScope.removeGame(row.entity)"> Remove </button>
</div>
