<button ng-hide="createGameFormActive" ng-click="activateCreateGameForm()"> Create </button>
<form ng-show="createGameFormActive" name="createGameForm" novalidate>
    <input type="text" ng-init="newGame.id='TestGame'" ng-model="newGame.id" required>
    <select ng-init="newGame.maxPlayers=2" ng-model="newGame.maxPlayers" required>
        <option></option>
        <option ng-repeat="val in [2,3,4,5,6,7,8]" value={{val}}> {{ val }} </option>
    </select>
    <button ng-click="createGameForm.$valid && createGame(newGame) || cancelCreateGameForm()">Submit</button>
    <button ng-click="cancelCreateGameForm()"> Cancel </button>
</form>
