<div ng-switch on="currentGame.name">
    <div ng-switch-default>
        Loading {{ player.currentGame.name }} ...
        <button class="btn btn-primary btn-lg" ng-click="startCurrentGame()"> Start Game! </button>
    </div>
    <div ng-switch-when="mpong">
        <div ng-controller="BattlePongController" class="gameContainer" >
            <canvas auto-resize width=640 height=480 id="battlePongCanvas">
                Your browser doesn't appear to support the HTML5 <code>&lt;canvas&gt;</code> element.
            </canvas>
            <div id="gameControlBar">
                <button class="btn btn-primary btn-lg" ng-click="quitGame()"> Quit </button>
            </div>
        </div>
    </div>
</div>
