<!DOCTYPE html>
<html ng-app="lobby">

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
</head>

<body ng-controller="LobbyController">
    <script type=" text/javascript " src="lib/angular.min.js "></script>
    <script type="text/javascript " src="js/player-controller.js "></script>
    <script type="text/javascript " src="js/game-controller.js "></script>
    <script type="text/javascript " src="js/lobby.js "></script>

    <header>
        <div ng-controller="PlayerController">
            <form name="setPlayerNameForm " novalidate>
                {{name}}
                <button type="button " ng-click="changeName=true " ng-hide="changeName "> {{ name ? 'Change Name' : 'Set Name' }} </button>
                <input ng-show="changeName" type="text " ng-model="newName " required>
                <button ng-show="changeName" ng-click="setName(newName) "> Update </button>
            </form>
        </div>
    </header>
    <section>
        <div ng-controller="GameController ">
            <table>
                <tr ng-repeat="game in games ">
                    <td> {{ game.id }} </td>
                    <td> {{ game.createdBy }} </td>
                    <td> {{ game.joinedPlayers.length + ' / ' + game.maxPlayers }} </td>
                    <td>
                        <button ng-show="!hasJoinedGame && game.maxPlayers > game.joinedPlayers.length" ng-click="joinGame(game)"> Join </button>
                        <button ng-show="hasJoinedGame && game.id == currentGame.id" ng-click="leaveGame(game)"> Leave </button>
                    </td>
                    <td>
                        <button ng-show="game.createdBy == name" ng-click="removeGame(game)"> Remove </button>
                    </td>
                </tr>
            </table>
            <button ng-hide="createGameFormActive" ng-click="activateCreateGameForm()"> Create </button>
            <form ng-show="createGameFormActive" name="createGameForm " novalidate>
                <input type="text " ng-model="newGame.id" required>
                <select ng-model="newGame.maxPlayers " required>
                    <option></option>
                    <option ng-repeat="val in [2,3,4,5,6,7,8] " value={{val}}>{{val}}</option>
                </select>
                <button ng-click="createGameForm.$valid && !createGame(newGame)">Submit</button>
                <button ng-click="!deactivateForm()"> Cancel </button>
            </form>
        </div>
    </section>

</body>

</html>
