<!DOCTYPE html>
<html ng-app="lobby">

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.css">
</head>

<body ng-controller="LobbyController">
    <script type=" text/javascript " src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
    <script type=" text/javascript " src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular-resource.js"></script>
    <script type=" text/javascript " src="js/url-service.js"></script>
    <script type=" text/javascript " src="js/http-method-service.js"></script>
    <script type=" text/javascript " src="js/player-service.js"></script>
    <script type="text/javascript " src="js/player-controller.js "></script>
    <script type="text/javascript " src="js/game-service.js"></script>
    <script type="text/javascript " src="js/game-controller.js "></script>
    <script type="text/javascript " src="js/lobby-controller.js"></script>
    <script type="text/javascript " src="js/lobby-service.js"></script>

    <header>
        <div ng-hide="initialized">
            <form name="InitNameForm " novalidate>
                <input type="text " ng-model="newName " required>
                <button ng-click="startSession(newName)"> Set Name </button>
            </form>
        </div>
        <div ng-controller="PlayerController" ng-show="initialized">
            <form name="setPlayerNameForm " novalidate>
                {{name}}
                <button type="button " ng-click="changeName=true " ng-hide="changeName"> Change Name </button>
                <input ng-show="changeName" type="text " ng-model="newName " required>
                <button ng-show="changeName" ng-click="updateName(newName) "> Update </button>
            </form>
        </div>
    </header>
    <section ng-show="initialized">
        <div ng-controller="GameController ">
            <button ng-click="listGames()"> listGames </button>
            <table>
                <tr ng-repeat="game in games">
                    <td> {{ game.id }} </td>
                    <td> {{ game.createdBy }} </td>
                    <td> {{ game.joinedPlayers.length + ' / ' + game.maxPlayers }} </td>
                    <td>
                        <button ng-show="!hasJoinedGame && game.maxPlayers > game.joinedPlayers.length" ng-click="joinGame(game)"> Join </button>
                        <button ng-show="hasJoinedGame && game.id == currentGame.id" ng-click="leaveGame()"> Leave </button>
                    </td>
                    <td>
                        <button ng-show="game != currentGame && game.createdBy == name" ng-click="removeGame(game)"> Remove </button>
                    </td>
                </tr>
            </table>
            <button ng-hide="createGameFormActive" ng-click="activateCreateGameForm()"> Create </button>
            <form ng-show="createGameFormActive" name="createGameForm " novalidate>
                <input type="text " ng-model="newGame.id" required>
                <select ng-model="newGame.maxPlayers " required>
                    <option></option>
                    <option ng-repeat="val in [2,3,4,5,6,7,8] " value={{val}}>{{val}}</option>
                </select>
                <button ng-click="createGameForm.$valid && createGame(newGame)">Submit</button>
                <button ng-click="deactivateCreateGameForm()"> Cancel </button>
            </form>
        </div>
    </section>
    <footer>
        <p> (C) Flaeder studios </p>
    </footer>

</body>

</html>
